@model Web.Models.Message
@{
    ViewData["Title"] = "Send";
}

<div class="text-center">
    <h1 class="display-4">Send</h1>
    <div>
        @Html.ActionLink("Probe", "Index", "Probe") | @Html.ActionLink("Receive", "Receive", "Probe")
    </div>
    <div>
        <form method="post">
            @Html.TextBoxFor(o => o.Text)
            <input type="submit" value="Send" />
        </form>
    </div>
    <div>@ViewData["Status"]</div>
</div>
